@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #0f172a;
  color: white;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: block;
  /* Override default flex */
}